/* 顶部切换 */
.header-nav li a {
  color: rgba(0, 0, 0, 0.7);
}

.header-nav li.active a {
  color: #000;
}

header .header-nav {
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}


/* 二级切换 */
.tabbar-nav {
  float: right;
  margin-top: 110px;
}

.tabbar-nav li {
  position: relative;
  float: left;
  list-style: none;
  margin-right: 40px;
}


.tabbar-nav li a {
  color: #565A6A;
}

.tabbar-nav li.active a {
  color: #000;
}

.tabbar-nav li.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background: #368746;

}

.slides .row {
  margin-bottom: 20px;
}

/* h5互动页 */
.post-h5 {
  background: url(../img/works_H5_bgcard.png) 100% 100%;
}

.post-h5 img {
  width: 80%;
  margin: 0 auto;
}